<div style="display:flex; justify-content:center;align-items:center; height:80vh;">
    <mat-card style="min-width: 30%;">
      <mat-card-title>Kayit ol</mat-card-title>
    <mat-card-content>
      <form [formGroup]="createUserForm" class="d-flex flex-column" >
        <mat-form-field  >
            <mat-label>Ad</mat-label>
            <input matInput placeholder="Adini gir" formControlName="firstName">
            <mat-error *ngIf="createUserForm.get('firstName')?.hasError('required')">
              Ad zorunludur
            </mat-error>
        </mat-form-field>
      <mat-form-field  >
            <mat-label>Soyad</mat-label>
            <input matInput placeholder="Soyadini gir" formControlName="lastName">
            <mat-error *ngIf="createUserForm.get('lastName')?.hasError('required')">
              Soyad zorunludur
            </mat-error>
      </mat-form-field>
        <mat-form-field  >
          <mat-label>Email</mat-label>
          <input matInput placeholder="Emaili gir" formControlName="email">
          <mat-error *ngIf="createUserForm.get('email')?.hasError('required')">
            Email zorunludur
          </mat-error>
          <mat-error *ngIf="createUserForm.get('email')?.hasError('email')">
            Email hatali
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>sifre</mat-label>
          <input type="password" matInput placeholder="sifre gir" formControlName="password">
          <mat-error *ngIf="createUserForm.get('password')?.hasError('required')">
            sifre gir
          </mat-error>
          <mat-error *ngIf="createUserForm.get('password')?.hasError('minlength')">
            minimum sekiz karakter
          </mat-error>
          <mat-error *ngIf="createUserForm.get('repassword')?.hasError('not_the_same')">sifreler farkli</mat-error>
          
        </mat-form-field>
        <mat-form-field>
            <mat-label>sifre Tekrar</mat-label>
            <input type="password" matInput placeholder="sifreyi tekrar gir" formControlName="repassword">
            <mat-error *ngIf="createUserForm.get('repassword')?.hasError('required')">
              sifre gir
            </mat-error>
            <mat-error *ngIf="createUserForm.get('repassword')?.hasError('minlength')">
              minimum sekiz karakter
            </mat-error>
          </mat-form-field>
        <mat-form-field  >
            <mat-label>Adres</mat-label>
            <textarea matInput placeholder="Adresi gir" formControlName="adress"> </textarea>
            <mat-error *ngIf="createUserForm.get('adress')?.hasError('required')">
              Adres zorunludur
            </mat-error>
        </mat-form-field>



         
        <div style="    display: flex;
        justify-content: space-between;
        align-items: center;">
            <a style="text-decoration: none;
            color: black;" routerLink="/login">Login</a>
            <button [disabled]="createUserForm.invalid" mat-raised-button color="primary"> Kayit ol</button>

        </div>
      
      </form>
    </mat-card-content>
    </mat-card>
    
  </div>